* {
    text-decoration: none;
}

body {
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    /* background-color: lightblue; */
    font-family: Arial;
    padding-right: 15px;
    padding-left: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 227, 227);


}

.logo {
    font-size: 36px;
    font-weight: 600;
    color: white;
}




ul {
    display: flex;
}

li {
    list-style: none;
}

li a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}


.contact {
    margin-left: 50px;
}




main {
    height: 100%;
}


/* hero section */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.role-container {

}

.owner-txt {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

.role-txt {
    font-size: 30px;
    font-weight: bold;
}

.hire-btn {
    background-color: lightblue;
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 8px;
    font-size: 24px;
    cursor: pointer;
}

.hero-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}



/* projects section */
.projects-section {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.my-projects {
    text-align: center;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 16px;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

.meme-card {
    background-image: url(/assets/images/memeOracle1.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

.insightsPro-card {
    background-image: url(/assets/images/insightpanel.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

.neuro-notes-card {
    background-image: url(/assets/images/neuralnotes1.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

.task-forge-card {
    background-image: url(/assets/images/taskForge.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

.project-info {
    background-color: rgba(255, 255, 255, 0.274);
    backdrop-filter:blur(1rem);
    padding:10px;
    border-radius: 10px;
    flex: 1;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.project-name, .project-description {
    color: white;
}

.project-name {
    margin: 0;
}

.project-description {

}



/* skills/ my stack section */

.skills-section {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.my-stack-txt, .set-txt {
    text-align: center;
}

.stack-card {
    display: flex;
    column-gap: 50px;
}

.backend-stack {
    
}

.front-end-stack {
    
}

.tools-used {

}

.set-txt {

}

.tool-icon-coontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.single-tool-container {

}

.set-icon {
    width: 50px;
    height: 50px;
} 

.set-tool-txt {

}


/* about-me section */

.my-credentials {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;

}

.about-me-txt {
    text-align: center;
}

.info-about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.my-image {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;   
    margin-right: 30px; 
}

.career-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.surname-txt {

}

 .current-progress-txt {
    line-height: 30px;
 }

.working-experience-txt {

}

.downlaod-cv-btn {
    background-color: lightblue;
    border: none;
    border-radius: 20px;
    width: 160px;
    padding-right: 50px;
    height: 32px;
    font-size: 16px;
    cursor: pointer;
}

.arrow-icon {
    margin-left: -38px;
}

/* footer section */

.footer-section {
    height: 400px;
}

.socials-en-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.social-connection {
    display: flex;
    flex-direction: column;

}

.get-info-about-me-txt {
    line-height: 30px;
    font-size: 30px;
    font-weight: 700;
}

.email-input {
    outline: none;
    height: 36px;
    flex: 1;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid grey;
    padding-bottom: 1px;
    padding-left: 0;
}

.email-input::placeholder {
    font-size: 20px;
}

.social-media-icons {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.set-social-icons {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    cursor: pointer;
}

.links-section{

}

.links-heading {

}

.links {
    display: flex;
    flex-direction: column;
    
}

.link-txt {
    margin-top: 8px;
    margin-bottom: 8px;
}

.copyright-details {
    text-align: center;
}